.movie-listing-form{
	font-size:18px;
	padding-top:15px;
}

.movie-listing-form input {
	padding:5px;
}

.full{
	width: 100%;
}

.movie-listing-form label{
	display: block;
	padding-bottom: 10px;
}

.form-group{
	padding-bottom: 15px;
}

.mins{
	font-size:13px;
}